/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.App-header {
  margin-bottom: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;


}

th {
  background-color: #00CED1;
  color: white;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px; /* Increased margin for gap between buttons */
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination button:not(:disabled) {
  /* background-color: #007bff; */
  background-color: #00CED1;

  color: white;
}

